.leftside{
position: relative;
width: 438px;
height: 907px;

left: 3px;
border: 1px;
background: linear-gradient(0deg, #000000, #000000),
linear-gradient(0deg, rgba(0, 0, 0, 0.88), rgba(0, 0, 0, 0.88));
border: 1px solid #000000;
}
.rightside{
position: relative;
width: 1063px;
height: 906px;
top: -907px;
left: 429px;
background: #22134ED6;

}
.CA{
position: relative;
width: 338px;
height: 90px;
top: 52px;
left: 54px;
font-size: 36px;
font-weight: 700;
line-height: 44px;
letter-spacing: 0em;
text-align: left;
color: #FFFFFF;
}
.tasks{
position: relative;
width: 271px;
height: 63px;
top: 236px;
left: 54px;
font-size: 36px;
font-weight: 700;
line-height: 44px;
letter-spacing: 0em;
text-align: left;
color: #FFFFFF;
}
.profile{
position: relative;
width: 271px;
height: 63px;
top: 291px;
left: 54px;
font-size: 36px;
font-weight: 700;
line-height: 44px;
letter-spacing: 0em;
text-align: left;
color: #FFFFFF;
}
.contactus{
position: relative;
width: 271px;
height: 63px;
top: 350px;
left: 54px;
font-size: 36px;
font-weight: 700;
line-height: 44px;
letter-spacing: 0em;
text-align: left;
color: #FFFFFF;
}
.Leaderboard{
position: relative;
width: 376px;
height: 111px;
top: 47px;
left: 44px;
font-size: 48px;
font-weight: 700;
line-height: 58px;
letter-spacing: 0em;
text-align: left;
color: #FFFFFF;     
}
.score{
    position: relative;
width: 389px;
height: 151px;
top: 85px;
left: 31px;
border-radius: 47px;
border: 1px;
background: linear-gradient(0deg,#22134ED6, #070321),
linear-gradient(0deg, rgba(7, 3, 33, 0.54), rgba(7, 3, 33, 0.46));
border: 1px solid #000000;
box-shadow: 0px 4px 4px 0px #00000080;
}
.your{
    position: relative;
    top: 10px;
    left: 20px;
    font-size: 36px;
    font-weight: 700;
    color: #FFFFFF ;
    opacity: 0.5;
}
.scored{
    position: relative;
    top:-20px;
    left: 20px;
    font-size: 36px;
    font-weight: 700;
    color: #FFFFFF ;
    opacity: 0.5;
}


.table{
position: relative;
width: 1053px;
height: 78px;
top: 150px;
left: 10px;
border-radius: 19px;
}
.headingrow{
    width: 1022px;
    height: 100px;
    border: 1px  solid; 
    border-radius: 19px;
    border-color: #FFFFFF;
    background: #000000;
    }
.heads{
        position: relative;
        
        font-size: 32px;
        font-weight: 700;
        line-height: 39px;
        letter-spacing: 0em;
        border-right: 1px solid;
         border: 1px solid; 
         border-radius: 19px;
        border-color: #FFFFFF;
        color: #FFFFFF;
        background-color: #070321;
        }
.otherrows{
width: 1008px;
height: 70px;
top: 100px;
left: 435px;
border-radius: 21px;
background: #0901017A;
border-right: #FFFFFF;
}
.morerows{
font-size: 36px;
font-weight: 600;
line-height: 44px;
letter-spacing: 0em;
text-align: left;
color: #FFFFFF;
border: #FFFFFF;
}


